.ProductionCardHome{
    display: flex;
    flex-direction: column;
    width: 8rem;
    align-items: center;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
 cursor: pointer;
    font-size: 14px;
}
.imagecontainer{
height: 5rem;
width: 5rem;
border: 1px solid #e7e7e7;
border-radius: 5px;
padding: 6px;
margin-bottom: 10px;
}

.textflex{
    display: flex;
    flex-direction: column;
    align-items: center;

}
img{
    width: inherit;
}
.name{
    margin-bottom: 5px;
    font-weight: 700;
vertical-align: baseline;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 8rem;
direction: rtl;
}
