
.goodspageHeader{
    display: flex;
    padding: 10px 49px;
    justify-content: space-between;
    padding-top: 34px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 1px 0 rgb(0 0 0 / 14%), 0 2px 0 rgb(0 0 0 / 5%);
}
.righttoptext{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftthings{
    display: flex;
    justify-content: space-between;
    width: 27rem;
}
.filter{
    display: flex;
    align-items: center;
}
.filterlabel{
    display: flex;
    align-items: center;
    label{
        display: block;
        width: max-content;
    }
}
.addgoodbtn{
  
    width: 8rem;
    height: 1.1rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.cardscontainer{
    margin: 10px 49px;
}
.goodsghoest{
    height: 4rem;
}