.loginandregister{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    border-radius: 8px;
    height: 2.2rem;
}
.loginandregister img{
    width: 26px;
}