.categoryheader{
display: flex;

    font-size: 15px;
    color: #555252;
}
.filter_side{
    width: 268px;
}
.cards_contaier{
    display: flex;
    flex-wrap: wrap;
}
.categorys_main{
    display: flex;
    margin: 0 16px;
    position: relative;
    min-height: 90vh;
}
.category_top{
 margin-top:145px;
 margin-left:16px;
 margin-bottom: 10px;
 margin-right: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
