.menu{
    display: flex;
    align-items:center ;
    cursor: pointer;
    padding: 11px 3px;
}
.menu h2{
    margin: 0;
}
@media(max-width:795px){
    .menu h2{
        display: none;
    }
}
@media(max-width:340px){
    .menu img{
    width:23px;    
    }
}