.sides_parent{
     padding-top: 24px;
    display: flex;
    h1{
        direction: rtl;
        font-size: 17px;
        font-weight: 600;
    }
}
.image_slider{
    margin-left: auto;
}
.sectors_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}