.showzoom{
    position: fixed;
    top: 119px;
    left: 4rem;
    background-color: #fffdfd;
 border: 1px solid orange;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 50px;
    width: 54rem;
    height: 28rem;
    display: flex;
    justify-content: center;
  
}