.Slider{
    max-width: 1952px;
}
.kalak{
    display: flex;
    justify-content: space-between;
}

.productiongroupsrewiedd::-webkit-scrollbar {
   display: none;
  }
  
  .productiongroupsrewiedd{
    margin: 0 5rem;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
   transition-timing-function: ease-out;
}

.category_title{
    text-align: center;
    margin-top: 3rem;
}
.categoryTitle{
    font-size: 24px;
    font-weight: 700;
}