.PaymentResultPage{
  h4{

      margin-top: 8.5rem;
       margin-right: 10px;
       direction: rtl;
  } 
  height: 67vh;
}
.resultpayment{
    margin: auto;
    display: flex;
    max-width: 52rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    svg{
        width: 9rem;
    height: 10rem;
    // color: #00b84a;
    color: red;
    }
    p{
        direction: rtl;
        font-size: 20px;
        margin-right: 5px;
    }
    
}
.backtohomr{
      
        display: flex;
    align-items: center;
    justify-content: center;
    max-width: 9rem;
    margin: auto;
    }