.inventCard{
 
    display: flex;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    border: 1px solid rgba(128, 128, 128, 0.708);
    justify-content: space-between;
    margin: 23px 33px;
    border-radius: 10px;

}
.cardimageside{
    display: flex;
}
.invenbuttom{
    display: flex;
    
}
.inventorydetailparent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 32px;
    justify-content: space-around;
    height: 55%;
}
.imageContainer{
    width: 10rem;
    height: 10rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 0px 7px;
    border-radius: 7px;
    overflow: hidden;
    img{
        width: inherit;
    }
}
.EditProduct{
    display: flex;
    flex-direction: column;
    width: 12rem;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #808080c9;
    button{
        width: 63%;
    }
}
.golam{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.inputparent{
display: flex;
    flex-direction: column;
    align-items: flex-end;
    input{
        
    width: 90%;
    border-radius: 5px;
    outline: none;
    border: 1px solid;

    }
}
.priceparent{
    display: flex;
}