.imagecontainer{
    width: 28rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 31px;
    // width: initial;
}
.Carousel{
    width: 32rem;
    height: 34rem;
}
.imagezoomer{
    background-color: aliceblue;
}