.headersearchinput{  
    direction: rtl;
    border-radius: 6px;
    width: 440px;
    height: 31px;
    font-size: 15px;
    border: none;
    background-color: #d4d4d47a;
}
.headersearchinput:focus-visible{
border: none;
outline-color: #c5bfbf;
}
@media (max-width:795px){
.headersearchinput{
    width: 395px;
}
}
@media (max-width:609px){
    .headersearchinput{
        width: 250px;
    }
    }


    @media (max-width:404px){
        .headersearchinput{
            width: 200px;
        }
        }

        @media (max-width:340px){
            .headersearchinput{
                width: 150px;
                height: 25px;
                font-size: 12px;
            }
            }