.headersearchinput{  
    direction: rtl;
    border-radius: 6px;
    width: 440px;
    height: 31px;
    font-size: 15px;
    border: none;
    background-color: #d4d4d47a;
}
.headersearchinput:focus-visible{
border: none;
}