.range_input{
    width: 14rem;
    height: 6px;
    accent-color: #1c315e;
}
.price_text{
    display: flex;
    justify-content: space-between;
}
.price{
    span{
        margin-right: 5px;
    }
    display: flex;
}
.price_filter_header{
    h3{
        font-size: 16px;
        font-weight: 600;
    }
    flex-direction: row-reverse;
    margin-bottom: 10px;
    display: flex;
}
.PriceFilter{
    padding: 23px;
    box-shadow: rgb(99 99 99 / 22%) 1px 1px 8px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
      border: 0.2px solid #80808059;
}

