.header{
    padding: 1px 15px;
background-color: #285281;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius:.5rem ;
    border-bottom-right-radius: .5rem;
    background: linear-gradient(225deg, #131462, #0e62d5) !important;

}
.cartlink{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-right: 2rem;
}
.headerhref{

    color:#e6e2c3 ;
    font-size:20px ;
}

h1{
    font-size: 36px;
}
.headerleft{
    display: flex;
    text-decoration: none;
    align-items: center;
}
h2{
    letter-spacing: -1px;
    font-size:20px !important ;

}

.menu{
    display: flex;
    align-items:center ;
}
.barserchside{
    display: flex;
    align-items: center;
}
.headerbottom{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.headercontainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 1px 0 rgb(0 0 0 / 14%), 0 2px 0 rgb(0 0 0 / 5%);
}
.companyname{
    color:#e6e2c3 ;
    font-family: 'Digikala'!important;
}
.logo{
    position: absolute;
    left: 43%;
    top: 4.3rem;
}
.panel_header_text{
    font-size: 23px;
}
.controlpanelheader{
    justify-content: space-between;
    padding: 0px 23px;
    padding-top: 12px;
    background-color: #ffe6e6;
}