@import 'reset.scss';
@import './some-componetns-style//saveBtn.scss';
@font-face {
    font-family: 'vazir';
    src: url('../font/Vazir-Regular-FD.woff2');
}
@font-face {
  font-family: 'Digikala';
  src: url('../font/Digikala.woff');
}
*{
    direction:ltr;
    font-family: 'vazir' !important;
}
.digifont{
  font-family: 'Digikala' !important;
}

.height-hr{
    width: 1px;
     background-color: #00000057;
    margin: 0 5px;
}

.flex{
    display: flex;
}
.a-c{
    align-items: center;
}
.j-c{
justify-content: center;
}
.j-sp{
  justify-content: space-between;
}
.j-ar{
  justify-content: space-around;
}
body::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .basebluedark{
    background-color: #1c315e;
    
  }  
    .baseblue{
      background-color: #227c70;
    }  

.basegreendark{
 background-color:#88A47C;
}
.baseyellow{
  background-color: #e6e2c3;
}
.categorycontainrproductions{
display: flex;
// flex-direction: column;
}
.categorycontainr{


  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 3rem;
  border: 1px solid rgba(128, 128, 128, 0.7019607843);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.prevcategory{
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
  border: none;
  background-color: #ffffff00;
}
.home_fire{
 width:36px;
 animation-name:homepage_styles_fire__2N58i;
 animation-duration:1s;
 animation-iteration-count:infinite;
 position: absolute;
 left: 56%;
}
@media (max-width:1442px) {
  .home_fire{
    left: 58%;
  }
}
@media (max-width:1094px) {
  .home_fire{
    left: 59%;
  }
}

@keyframes homepage_styles_fire__2N58i{
  0%{width:36px}
  50%{width:40px}
  to{width:36px}
}
html{
  scroll-behavior: smooth;
}


.hr{
  width: 80%;
  height: 1px;
  background-color: gray;
}

/*file adder styles*/
.filechooser img{
  position: absolute;
  bottom: -1px;
  right: -2px;
}
input[type="file"] { 
  z-index: -1;
  position: absolute;
  opacity: 0;
}

input:focus + label {
  outline: 2px solid;
}
.Profile-picture{
  position: absolute;
  left: 43%;
  top: 6px;
}
.profileimg{
  overflow: hidden;
  width: 124px;
  height: 124px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12%;
  border: 2px solid #babae7;
}
.notDataanimation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40rem;
  height: 26rem;
}
label{
  outline: none !important;
}
 //delete dafault link style
.link-route{
  color: black;
  text-decoration: none;
 }
 .link-route:hover{
color: black;
}
.priceWithoutDiscount{

    position: absolute;
    bottom: 4px;
    color: gray;
    font-size: 14px;
    right: 40px;
   .priceWithoutDiscounthr{
    width: 48px;
    height: 0.5px;
    background: #a0a0a0;
    position: absolute;
    top: 9px;
   }
}
.priceWithoutDiscountcategory{
  position: absolute;
  bottom: -18px;
  color: gray;
  font-size: 14px;
  left: 31px;
  .priceWithoutDiscounthr{
    width: 48px;
    height: 0.5px;
    background: #a0a0a0;
    position: absolute;
    top: 9px;
   }
}


.centerevrything{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}