@import 'reset.scss';

@font-face {
    font-family: 'vazir';
    src: url('../font/Vazir-Regular-FD.woff2');
}
*{
    direction:ltr;
    font-family: 'vazir' !important;
}

.height-hr{
    width: 1px;
    background-color: black;
    margin: 0 5px;
}

.flex{
    display: flex;
}
.a-c{
    align-items: center;
}

body::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .basebluedark{
    background-color: #1c315e;
    
  }  
    .baseblue{
      background-color: #227c70;
    }  

.basegreendark{
 background-color:#88A47C;
}
.baseyellow{
  background-color: #e6e2c3;
}