.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.color_shower{
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 5px;
}