.homeproductioncard{
  display: flex;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 28px 39px;
  border-radius: 8px;
  margin: 0 4px;
  width: 8rem;
  border: 1px solid #c9c9c9c7;
  /* width: 16rem; */
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  flex-direction: column-reverse;
  align-items: center;
  height: 13rem;
  justify-content: space-between;

    .imagecontainer{
      border: 1px solid #8080804f;
      border-radius: 1px;
      width: 9rem;
      height: 9rem;
          img{
            border-radius: 12px;
            width: inherit;
          }        
    }
}
@font-face {
    font-family: 'fontyekan';
    src: url('../../assets/font/IranYekan/woff2/IRANYekanWebExtraBold.woff2');
}
.price{
font-family: 'Digikala',sans-serif !important;
margin-right: 8px;
}
.cardleft{
  display: flex;    
  margin-right: 12px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
/*
*/
.name{
  vertical-align: baseline;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 8rem;
   direction: rtl;
   margin-bottom: 10px;
   direction: rtl;
   margin-top: 10px;
}
.homeproductioncard:hover{
  background-color: #ffffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}