.gifparent{
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 21rem;
    }
}
.notFoundtextParent{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    h1{

        font-size: 28px;
    }
    
}