.discription_patern{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h3{
        direction: rtl;
        font-size: 17px;
        font-weight: 600;
    }
    .normal{
        direction: rtl;
        font-size: 15px;
    line-height: 2.17;
        height: 20rem;
        overflow: overlay;
        font-weight: 400;
    }
    button{
        background: none;
        border: none;
        color: #2173c0;
    }
    .less_mode{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 15px;
        direction: rtl;
        width: 100%;
        height: 104px;
        font-size: 15px;
        font-weight: 500;
        line-height: 2.17;
    }
}
.buttonparent{
    display: flex;
    align-items: center;
}