.discription_patern{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h3{
        direction: rtl;
        font-size: 17px;
        font-weight: 600;
    }
    .normal{
        direction: rtl;
        font-size: 15px;
    line-height: 2.17;
       max-height: 20rem;
        overflow: overlay;
        font-weight: 400;
    }
    button{
        background: none;
        border: none;
        color: #2173c0;
    }
    .less_mode{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 15px;
        direction: rtl;
        width: 100%;
        max-height: 92px;
        font-size: 15px;
        font-weight: 500;
        line-height: 2.17;
    }
}
.buttonparent{
    display: flex;
    align-items: center;
}


.normal::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .normal::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }