.discription_patern{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h3{
        direction: rtl;
        font-size: 17px;
        font-weight: 600;
    }
    p{
        direction: rtl;
        line-height: normal;
        font-size: 15px;
        font-weight: 400;
    }
    button{
        background: none;
        border: none;
        color: #2173c0;
    }
}
.buttonparent{
    display: flex;
    align-items: center;
}